.gridSearch {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.8rem;
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    width: fit-content;
    padding: 0.3rem;
}

.gridSearch input {
    width: 150px;
    font-size: 0.9rem;
    border: none
}

.gridSearch input:focus {
    outline: none;
}