.gridSearch {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.8rem;
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    width: fit-content;
    padding: 0.3rem;
}

.gridSearch input {
    width: 150px;
    font-size: 0.9rem;
    border: none
}

.gridSearch input:focus {
    outline: none;
}

.assetDetails {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.assetTable { 
    width: 700px;
    border-collapse: separate; 
    border-spacing: 10px;
}

.assetTable th {
    text-align: left;
    vertical-align: top;
    padding-right: 25px;
}

.assetTable td {
    text-align: left;
    vertical-align: top;
}

.assetImage {
    display: block;
    // height: 400px;
    // width: 400px;
    object-fit: contain;
    margin: auto;

}



