.gridContainer {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr auto;
    column-gap: 1em;
}

.checklistDetailsContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 10px;
  column-gap: 20px;
  // background-color: #E3E3E3;
  // border-radius: 5px;
}

.checklistDetailsHeading {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 8px 0 0 0;
}

.checklistDetailsContent {
  color: #73777B;
}

.checklistDetailsAssets {
  @extend .checklistDetailsContent;
  margin: 0;
}

.checkViewContainer {
  // background-color: #E3E3E3;
  // border-radius: 5px;
  // padding: 10px;
  margin: 12px 0;
}

.checklistViewSection {
  @extend .checklistDetailsContainer;
}

.checklistTemplatePaneContainer {
  padding: 10px;
}

.checklistTemplatePaneTitle {
  font-size: 1.75rem;
  font-weight: 600;
}

.checklistTemplatePaneHeading {
  font-size: 1.2;
  font-weight: 550;
  margin: 0;
}