.dashboardMain {
  display: grid;
  grid-template-areas:
    "a b c u d"
    "e f g v h"
    "i j k w l"
    "m n o x p"
    "q r s y t";
  gap: 10px;
}

@media only screen and (max-width: 1200px) {
  .dashboardMain {
    grid-template-areas: "a b" "c d" "e f" "g h" "i j" "k l" "m n" "o p" "q r" "s t";
  } 
}

@media only screen and (max-width: 900px) {
  .dashboardMain {
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s" "t";
  }
}

.dashboardSection {
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 12px;
  // min-height: 200px;
}

.dashboardSection.active{
  border: solid #c21010;
}


.dashboardSection div {
  display: flex;
  justify-content: center;
}

.dashboardHeader {
  display: flex;
}

.dashboardHeader h5 {
  margin-right: auto;
}

.dashboardNumber {
  font-size: 60px;
  font-weight: 500;
}

.dashboardPendingdNumber {
  @extend .dashboardNumber;
  color: #c21010;
}

.dashboardOutstandingNumber {
  @extend .dashboardNumber;
  color: purple;
}

.dashboardCompletedNumber {
  @extend .dashboardNumber;
  color: #367e18;
}

.dashboardOverdueNumber {
  @extend .dashboardNumber;
  color: #c21010;
}

.dashboardNoChart {
  position: absolute;
  top: 50%;
  font-size: 20px;
  color: #bbbbbb;
}

.dashboardRequestButton {
  width: 30%;
  height: 50%;
}
