.halfContainer {
    padding: 1em;
}

.largeContainer {
    padding: 1em;
    grid-column: span 2;
}

.imageClick :hover {
    cursor: pointer;
}

.imageClick {
    text-decoration: underline;
     color: blue
}

.highlighted {
    background-color: yellow;
}


