@use "colours.module.scss" as global;

html,
body {
  padding: 0;
  margin: 0;
  margin-top: 4rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.nav-tabs:hover {
  cursor: pointer;
}

.form-group {
  margin-bottom:1rem;
}

.container-md {
  padding-top: 2em;
}

.mainContainer {
  height: 100%;
  margin-bottom: 2em;
}

.gridContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr auto;
}

.greyContainer {
  padding: 2em;
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  border-radius: 25px;
}

/* nprogress bar */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: global.$primary;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 3px;
}