.logbookForm {
  margin-bottom: 5rem;
}

.addEntryInputs {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.addEntryInputs > input {
  margin: 0 0.5rem;
  width: 27rem;
}

.entryDiv > textarea {
  resize: none;
  margin-bottom: 1rem;
  width: 81rem;
}
