.loginContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textContainer {
    background-color: rgba(0, 0, 0, .1);

    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: rgba(0, 0, 0, .1);

    padding: 2em;

    text-align: center;
    font-size: large;
}

.loginMessageContainer {
    position:static;

    background-color: rgba(255, 0, 0, .6);
    color:white;

    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: rgba(0, 0, 0, .1);

    margin-top: .5em;
    padding: 1em;

    text-align: center;
    font-size: large;
}

.loginErrorInfoText {
    font-size: 70%;
    font-style: italic;
    color: rgb(210, 159, 20);
    padding-left: 0.4em;
    text-align: left;
}

.loginImage {
    margin-bottom: 3em;
}

.headerLogin {
    margin-bottom: 1em;
}

.group {
    margin-bottom: 1em;
}