.eventModalClose {
    cursor: pointer;
    margin-left: auto;
}

.eventModalHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.eventModalTitle {
    margin: auto 0 auto
}

