@use "colours.module.scss" as global;
/*
Link {
    color: global.$gray;
}*/

.navMain {
    position: fixed;

    left: 0;
    top: 0;
    z-index: 10;

    width: 20rem;
    height: 100%;

    color: global.$gray;
    background-color: #EEEEEE;

    
    transition: transform 0.2s ease-out;
}

.navHead {
    background-color: #E3E3E3;
    height: 4rem;
    padding: 0rem 2rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
}

.navItems {
    display: flex;
    flex-direction: column;
}

.navItem {
    color: global.$gray;
    background-color: #f7f7f7;
    margin: 0.2rem 0 0.2rem 0;
    padding: 0.3rem 2rem;
    border-left: rgba(0,0,0,0.2) solid 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navItemSelected {
    color: white;
    background-color: global.$primary;
}

.navItem:hover {
    color: global.$primary;
    border-left: global.$primary solid 6px;
    cursor: pointer;
}

.navItemSelected:hover {
    color: white;
    border-left: rgba(0,0,0,0.2) solid 6px;
}

.navItemText {
   margin: auto 0 auto 0;
   padding: 0.2rem 0 0.2rem 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    transition: opacity 0.2s ease-out, visibility 0.2s;
}

.navDropdownItems {
    flex-direction: column;
}

.navDropdownItem {
    color: global.$gray;
    padding: 0.2rem 2rem;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
}

.navDropdownItem:hover {
    color: global.$primary;
}