.qrList {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;

    grid-column: span 2;
}

.qrList > * {
    width: 14rem;
    margin: 1rem;
}

.qrList > * > div {
    text-align: center;
}

.label {
    width: 100%;
}

/*.btnQr {
    border
}*/