.tableDropdownListItem {
    display: flex;
    flex-direction: column;
}

.tableDropdownListItemHeader {
    font-size: 17px;
}

.tableDropdownListItem p {
    margin: 0;
    font-size: 15px;
}

.tableDropdownImg {
    width: 100px;
    height: 100px;
}