.tableUL {
  padding: 0;
  background-color: #ffffff;
  color: #7f8487;
  display: grid;
  grid-template-columns: 18.5rem 11rem 8rem 8.5rem 9rem;
  gap: 4rem;
  margin: 0 4.25rem 0 5rem;
}

@media only screen and (max-width: 1440px) {
  .tableUL {
    grid-template-columns: 15rem 15rem 10rem 10rem;
    gap: 2rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  .tableUL {
    margin-left: 5rem;
    grid-template-columns: 18rem 12rem;
  }
}

.tableDropdownListItem {
  display: flex;
  flex-direction: column;
}

.tableDropdownListItemHeader {
  font-size: 17px;
}

.tableDropdownListItem p {
  margin: 0;
  font-size: 15px;
  max-width: 20rem;
  text-align: justify;
}

.tableDropdownImg {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.editIcon {
  cursor: pointer;
  text-decoration: underline;
  color: #c70f2b;
}

.editIcon:hover {
  color: #ff0026;
}

.imageModal {
  width: fit-content !important;
  height: fit-content !important;
  background-color: transparent !important;
  position: relative;
  top: 15%;
  outline: none !important;
  border: none !important;
}

.iconsDiv {
  display: flex;
  gap: 0.5rem;
}

table.table > tbody > tr > td {
  padding: 1rem;
  padding-left: 8rem;
}

table.table > tbody > tr > th {
  width: 12rem;
}

.viewImage {
  // display: flex;
  // justify-content: start;
  text-decoration: underline;
  color: #c70f2b;
  cursor: pointer;
}

// .viewImage:hover {
//   cursor: pointer;
// }

.modal {
  width: fit-content !important;
  height: fit-content !important;
  background-color: transparent !important;
  position: relative;
  top: 15%;
  outline: none !important;
  border: none !important;
}

.requestPagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  border: none;
  color: black;
}

.paginationChevron {
  cursor: pointer;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

.paginationChevron.active:hover {
  color: #c70f2b;
  background-color: transparent;
}

.paginationChevron.disabled {
  opacity: 0.3;
  cursor: default;
}
