.tableDropdownListItem {
  display: flex;
  flex-direction: column;
}

.tableDropdownListItemHeader {
  font-size: 17px;
}

.tableDropdownListItem p {
  margin: 0;
  font-size: 15px;
}

.tableDropdownImg {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.editIcon {
  cursor: pointer;
}

.editIcon:hover {
  color: #c70f2b;
}

.imageModal {
  width: fit-content !important;
  height: fit-content !important;
  background-color: transparent !important;
  position: relative;
  top: 15%;
}
