.calendar {
    margin: 1rem;
}

.eventModalHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.eventModalTitle {
    margin: auto 0 auto
}

.eventModalClose {
    cursor: pointer;
    margin-left: auto;
}

.eventModalTable {
    margin: 0.5rem 0;
    width: 100%;
}

.eventModalTableRow {
    border-bottom: 0.5px solid #888888;
}

.eventModalTableRow th{
    padding: 0.3rem;
    font-weight: 500;
}