.calendar {
    margin: 1rem;
}

.eventModalHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.eventModalTitle {
    margin: auto 0 auto
}

.eventModalClose {
    cursor: pointer;
    margin-left: auto;
}

.eventModalTable {
    margin: 0.5rem 0;
    width: 100%;
}

.eventModalTableRow {
    border-bottom: 0.5px solid #888888;
}

.eventModalTableRow th{
    padding: 0.3rem;
    font-weight: 500;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    --width: 80px;
    --height: calc(var(--width) / 3);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
}

.toggle input {
    display: none;
}

.toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: #ccc;
    transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
    background-color: #2196f3;
}

.toggle input:checked + .slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 20px;
    color: #4d4d4d;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    left: 20px;
    color: #ffffff;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle input:checked ~ .labels::after {
    opacity: 0;
}

.toggle input:checked ~ .labels::before {
    opacity: 1;
}

.eventModalAssignedUsers {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.eventModalAssignedUser {
    background-color: #CACACA;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    margin: 0.2rem 0;
    display: flex;
    align-items: center;
}

.modalUserArrow {
    cursor: pointer;
    margin-left: auto;
}

.modalUserTooltip {
    display: flex;
    flex-direction: column;
    background-color: #888888;
}